<?xml version="1.0"?>
<config>
	  <tabs>
		<libido translate="label" module="libidoorder">
            <label>Libido</label>
            <sort_order>90</sort_order>
        </libido>
	  </tabs>
	  <sections>
		<orders  translate="label" module="libidoorder">                    
			<label>Orders</label>
			<tab>libido</tab>
			<frontend_type>text</frontend_type>
			<sort_order>2</sort_order>
			<show_in_default>1</show_in_default>
			<show_in_website>1</show_in_website>
			<show_in_store>1</show_in_store>
			<groups>
					 
				  <soap translate="label"> 
					  <label>SOAP Settings</label>
					  <frontend_type>text</frontend_type>
					  <sort_order>6</sort_order>
					  <show_in_default>1</show_in_default>
					  <show_in_website>1</show_in_website>
					  <show_in_store>1</show_in_store>
					   <fields>
						  <adress translate="label">
							<label>Adress</label>
							<frontend_type>text</frontend_type>
							<sort_order>0</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
							<comment>host adress</comment>
						  </adress>
						  <user translate="label">
							<label>User</label>
							<frontend_type>text</frontend_type>
							<sort_order>0</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
							<comment>host user name</comment>
						  </user>
						  <psw translate="label">
							<label>Pasword</label>
							<frontend_type>text</frontend_type>
							<sort_order>0</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
							<comment>host pasword</comment>
						  </psw>
					   </fields>
				   </soap>
					  
				  <home translate="label"> 
					  <label>Home page</label>
					  <frontend_type>text</frontend_type>
					  <sort_order>1</sort_order>
					  <show_in_default>1</show_in_default>
					  <show_in_website>1</show_in_website>
					  <show_in_store>1</show_in_store>
					   <fields>
						  <category_sku   translate="label">
							<label>Ctegory URL Key</label>
							<frontend_type>text</frontend_type>
							<sort_order>0</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
							<comment>category is displayed  at home page</comment>
						  </category_sku>						  						  
					   </fields>
				   </home>
			  </groups>
		</orders>
	  </sections>
</config>
